build/
/build.bat
.cache
*.pyc
*.wkt
*.csv
*.html
*.ipynb_checkpoints
*.png
*.jpeg
*.jpg
*.obj
*.mtl
*.pre
*.dt
*_timing.json
results_*.json
*preprocessed*.json
grid_benchmark_*.json
*.txt
!CMakeLists.txt
!requirements.txt